# video files
*.avi

# Object Files
*.o
*.lst

# Eclipse files
.project
.cproject

# Temp files
*.sw?
*.kate-sw?
.~lock.*

# Executables
test
scoring
*.bin
*.elf
*.hex
*.map

# Directories
build/
.dep/
